div.microblog-description {
  @include outer-container;

  article {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    flex: 1 0 100%;
  }

  a:hover {
    color: $accent-color;
  }

  @include media($desktop) {
    p {
      flex-basis: 50%;
      margin-bottom: $base-spacing;
      padding: 0;
    }
  }
}
