$post-font-size: $large-font-size;
$meta-font-size: modular-scale(-1, $post-font-size);
$post-text-color: $dark-gray;

section.micropost {
  @include title-card;
  color: $post-text-color;
  padding: $small-spacing;

  article {
    font-size: $post-font-size;
    margin-bottom: $small-spacing;

    a {
      color: $accent-color;
    }

    a:hover {
      color: $post-text-color;
    }
  }

  div.meta {
    color: $body-text-color;
    font: $small-header-font;
  }
}
