<section class="micropost" id="<%= dom_id(micropost) %>">
  <article>
    <%= link_to micropost.body, microblog_path(micropost.timestamp) %></p>
  </article>
  <% if current_user %>
    <ul>
      <li><%= link_to t('helpers.submit.micropost.update'), edit_admin_micropost_path(micropost) %></li>
      <li><%= link_to t('helpers.submit.micropost.delete'),
              [:admin, micropost],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></li>
    </ul>
  <% end %>
</section>
