!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/assets
/public/maintenance.html
/tags
/tmp/*
/spec/test_files
*.taskpaper
/vendor/bundle
shared
/storage/
/db_backups/
