!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/app/assets/builds/*
!/app/assets/builds/.keep
/coverage/*
/db/*.sqlite3
/log/*
.nova/
/public/assets
/public/maintenance.html
/tags
/tmp/*
/spec/test_files
*.taskpaper
/vendor/bundle
/shared
/storage/
/db_backups/
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
.vagrant
.vault_pass
deploy/inventories/production.yml
