<%= link_to 'Add song', new_admin_song_path %>
  <% @songs.each do |song| %>
    <p>
      <%= link_to song.title, edit_admin_song_path(song) %>
      <%= link_to 'Delete', [:admin, song], method: :delete %>
    </p>
  <% end %>
</ul>
