<section class="about">
  <%= video_tag(
    'portrait.mp4',
    'portrait.webm',
    'portrait.ogv',
    poster: 'portrait.jpg',
    controls: false,
    autobuffer: true,
    autoplay: true,
    loop: true,
    class: 'portrait')
  %>
  <div class="copy">
    <article>
      <h4>About Edward</h4>
      <p>Edward began his career as a sound designer, making silent cartoons less silent. Not long after, while working in mobile &amp; web design, he became a web developer when realizing Ruby was more enjoyable than Photoshop. He now enjoys (ab)using Ruby to make markov chains, chat clients, and <a href="https://hotlinewebring.club" target="_blank">webrings</a>. "Edward" would be worth 11 points in Scrabble if it were allowed.</p>
    </article>
  </div>
</section>
