<section class="about">
  <%= video_tag(
    'portrait.mp4',
    'portrait.webm',
    'portrait.ogv',
    poster: 'portrait.jpg',
    controls: false,
    autobuffer: true,
    autoplay: true,
    loop: true,
    class: 'portrait')
  %>
  <%= image_tag('portrait.jpg', class: 'portrait', alt: 'Edward standing in front of a shopping center with an artificial lake to represent the futility of nature as we humans encroach upon it like a terminal virus.') %>
  <div class="copy">
    <article>
      <h4>About Me</h4>
      <p>I began my career as a sound designer, making silent cartoons less silent. Not long after, while designing mobile apps &amp; web sites, I became a web developer after realizing Ruby was more enjoyable than Photoshop. I now (ab)uses my skills to make <a href="http://blog.edwardloveall.com/post/134723720862/an-incredibly-dumb-way-to-make-sentences">markov chains</a>, <a href="https://github.com/gabebw/udp_chat">chat clients</a>, and <a href="https://hotlinewebring.club">webrings</a>. "Edward" would be worth 11 points in Scrabble if it were allowed.</p>
    </article>
  </div>
</section>
