<p>Edward began his career as a sound designer, making silent cartoons less silent. After working in web design, he became a web developer when realizing Ruby was more enjoyable than CSS. He now enjoys (ab)using CSS and Ruby to make logos, webrings, and chat clients. "Edward" would be worth 11 points in Scrabble as soon as <em>someone</em> returns his calls.</p>
