<div class="project-container featured">
  <%= project_logo(featured) %>
  <h3>
    <%= link_to project_path(featured) do %>
      <%= featured.title %>
      <span class="link-target"></span>
    <% end %>
  </h3>
</div>
