<li class="project-container featured">
  <div class="img">
    <%= project_logo(featured) %>
  </div>
  <%= link_to project_path(featured) do %>
    <%= featured.title %>
    <span class="link-target"></span>
  <% end %>
</li>
