<section class="featured-projects">
  <%= render partial: 'featured', collection: @featured %>
</section>

<section class="other-projects links">
  <h4>Other Projects</h4>
  <ul>
    <%= render partial: 'project', collection: @regular %>
  </ul>
</section>

<%= render 'contact' %>
