<section class="featured-projects">
  <h2>Featured Projects</h2>
  <ul>
    <%= render partial: "featured", collection: @featured %>
  </ul>
</section>

<section class="other-projects links">
  <h3>Other Projects</h3>
  <ul>
    <%= render @regular %>
  </ul>
</section>

<%= render "contact" %>
<%= render "hotline_webring" %>
