<header class="experiments">
  <div class="copy">
    <h2>Experiments</h2>
    <p>This is a list of code experiments I've made over the years. Some of them work, some of them don't. Many of them were made as my first attempt at a particular language or framework.</p>
    <p>I keep them around as a reference for certain tasks, or as a reminder of what I've done. In either case, they are a pretty terrible representation of my current programming abilities.</p>
    <p>Enjoy.</p>
  </div>
</header>
