body {
  font-family: $font-family-base;
}

main {
  margin: $base-spacing auto 0;
  width: $max-width;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: $base-spacing;
}

ul li {
  display: flex;
  align-items: center;
  flex-basis: $base-spacing * 2;

  a {
    flex-grow: 1;
  }

  a.delete {
    flex: 0 0 auto;
  }
}
