body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $font-family-base;
}

main {
  margin: $base-spacing auto 0;
  width: $max-width;
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}
