form {
  width: $column-width * 5;

  div.input {
    margin-bottom: $base-spacing;
    width: 100%;
  }

  input,
  textarea {
    box-sizing: border-box;
  }

  div.field_with_errors {
    label,
    span.error {
      color: var(--warning-color);
    }

    input[type="email"],
    input[type="text"],
    input[type="password"],
    textarea {
      border-color: var(--warning-color);
    }
  }

  label {
    color: var(--text-color);
    display: block;
    font-size: $font-size-small;
    letter-spacing: 1px;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"],
  textarea {
    border: 1px solid var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font: $font-size-small monospace;
    width: 100%;

    &:focus {
      border-color: var(--accent-color);
      outline: none;
    }
  }

  textarea {
    height: 10em;
  }

  abbr {
    display: none;
  }

  input[type="submit"],
  button,
  input[type="file"]:before {
    background-color: var(--link-color);
    border: 1px solid var(--border-color-dark);
    box-shadow: 0 2px 0 var(--shadow-color-dark);
    color: var(--background-color);
    cursor: pointer;
    padding: 0.5em 2em;
    text-align: center;
    width: 100%;
  }

  input[type="file"] {
    cursor: pointer;
    width: 100%;

    &::-webkit-file-upload-button {
      display: none;
    }

    &:before {
      box-sizing: border-box;
      content: "Select a file";
      display: inline-block;
      margin-left: 0;
      -webkit-user-select: none;
      white-space: nowrap;
    }
  }
}

fieldset {
  border: none;
  padding: 0;
}
