form {
  width: $column-width * 5;

  div.input {
    margin-bottom: $base-spacing;
    width: 100%;
  }

  input,
  textarea {
    @include box-sizing(border-box);
  }

  label {
    color: $dove-gray;
    display: block;
    font-size: $font-size-small;
    letter-spacing: 1px;
  }

  #{$all-text-inputs} {
    font: $font-size-small monospace;
    border: 1px solid $border-color;
    width: 100%;

    &:focus {
      border-color: $accent-color;
      outline: none;
    }
  }

  textarea {
    height: 10em;
  }

  abbr {
    display: none;
  }

  input[type=submit],
  button,
  input[type=file]:before {
    background-color: $link-color;
    border: 1px solid darken(transparentize($accent-alt-color, 0.1), 10%);
    box-shadow: 0 2px 0 darken(transparentize($accent-alt-color, 0.7), 10%);
    color: white;
    cursor: pointer;
    padding: 0.5em 2em;
    text-align: center;
    width: 100%;
  }

  input[type=file] {
    cursor: pointer;
    width: 100%;

    &::-webkit-file-upload-button {
      display: none;
    }

    &:before {
      @include box-sizing(border-box);
      content: 'Select a file';
      display: inline-block;
      margin-left: 0;
      -webkit-user-select: none;
      white-space: nowrap;
    }
  }
}
