$white: white;
$very-light-gray: rgb(206, 206, 206);
$dove-gray: rgb(105, 105, 105);
$black: black;
$boston-blue: rgb(76, 151, 183);
$cornflower-blue: rgb(93, 168, 235);
$summer-sky: rgb(47, 144, 230);
$calypso: darken($boston-blue, 10%);
$chathams-blue: darken(transparentize($calypso, 0.1), 10%);
$chathams-blue-shadow: darken(transparentize($calypso, 0.7), 10%);
$pattens-blue: mix($white, $boston-blue, 80%);
$chestnut: rgb(183, 76, 76);
$chestnut-hover: darken($chestnut, 10%);
$emerald: rgb(47, 183, 89);
$emerald-hover: darken($emerald, 10%);

:root {
  --accent-alt-color: #{$calypso};
  --accent-color: #{$boston-blue};
  --background-color: #{$white};
  --border-color-dark: #{$chathams-blue};
  --border-color: #{$pattens-blue};
  --link-color: #{$boston-blue};
  --link-hover-color: #{$calypso};
  --ok-color-hover: #{$emerald-hover};
  --ok-color: #{$emerald};
  --shadow-color-dark: #{$chathams-blue-shadow};
  --shadow-color: rgba($black, 0.3);
  --text-color: #{$dove-gray};
  --warning-color-hover: #{$chestnut-hover};
  --warning-color: #{$chestnut};

  @media (prefers-color-scheme: dark) {
    --accent-color: #{$summer-sky};
    --background-color: #{$black};
    --border-color-dark: #{$cornflower-blue};
    --border-color: #{$dove-gray};
    --link-color: #{$summer-sky};
    --link-hover-color: #{$cornflower-blue};
    --text-color: #{$very-light-gray};
  }
}

$font-stack-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$sans-serif: "proxima-nova", $font-stack-helvetica;
$font-family-base: $sans-serif;
$font-size-base: 16px;
$font-size-small: $font-size-base * 0.8;

// Modular Scale
$ratio: 1.618; // golden ratio
$modular-scale-1: $ratio;
$modular-scale-2: $ratio * $ratio;

$max-width: 700px;
$column-width: math.div($max-width, 12);
$base-spacing: 1em;
$small-spacing: math.div(1em, $modular-scale-1);
$large-spacing: 1em * $modular-scale-1;
$border-radius: 5px;
