$boston-blue: rgb(76, 151, 183);
$chestnut: rgb(183, 76, 76);
$emerald: rgb(47, 183, 89);
$dove-gray: rgb(105, 105, 105);

$accent-color: $boston-blue;
$accent-alt-color: darken($accent-color, 10%);
$link-color: $accent-color;
$link-hover-color: $accent-alt-color;
$warning-color: $chestnut;
$ok-color: $emerald;
$background-color: white;
$border-color: mix($background-color, $accent-color, 80%);

$font-stack-helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$sans-serif: "proxima-nova", $font-stack-helvetica;
$font-family-base: $sans-serif;
$font-size-base: 16px;
$font-size-small: $font-size-base * 0.8;

$max-width: 700px;
$column-width: math.div($max-width, 12);
$base-spacing: 1em;
$small-spacing: math.div(1em, $modular-scale-1);
$large-spacing: 1em * $modular-scale-1;
$border-radius: 5px;
