<h2>
  <%= link_to internal_post.title, internal_post_path(internal_post.slug) %>
</h2>
<aside class="meta">
  <time datetime="<%= timestamp(internal_post.created_at) %>">
    <%= link_to pretty_date(internal_post.created_at), internal_post_path(internal_post.slug) %>
  </time>
</aside>
<p><%= internal_post.teaser %></p>
