body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $serif;
  font-size: $base-font-size;
  line-height: $line-height;
}

main {
  display: block;
  margin: 0 auto;
  max-width: $blog-max-width;
}
