h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: $header-line-height;
  margin-bottom: $base-spacing;
}

h2 a {
  color: var(--accent-color);
}

a {
  transition: color 0.1s ease;
  color: var(--accent-color);

  &:hover {
    transition: color 0.3s ease;
    color: var(--text-color);
  }
}

ol,
ul {
  list-style-position: inside;
  list-style-type: disc;
}

li {
  ul,
  ol {
    margin-bottom: 0;
    margin-left: $base-spacing;
  }
}

blockquote,
ol,
p,
pre,
ul {
  margin-bottom: $base-spacing;
}

pre,
code {
  background: var(--background-color-alt);
  border-radius: $border-radius;
  color: var(--text-color);
  font-family: $font-stack-mono;
  font-size: $medium-small-font-size;
}

code {
  padding: 0.1em 0.3em;
}

pre {
  background-color: var(--background-color-alt);
  color: var(--text-color-alt);
  padding: math.div($base-spacing, 2);
  white-space: pre-wrap;

  code {
    background-color: var(--background-color);
    display: block;
    padding: 0.5em;
  }
}

blockquote {
  background-color: var(--background-color-alt);
  border-radius: $border-radius;
  color: var(--text-color-alt);
  padding: math.div($base-spacing, 2);
  padding-left: $base-spacing;

  p {
    margin-bottom: 0;
  }
}
