body.posts-index {
  ol {
    list-style-type: none;
  }
}

article {
  margin: 0 $base-spacing $huge-spacing;

  &:last-of-type {
    margin-bottom: $base-spacing * 2;
  }

  h2 {
    font-size: $large-font-size;
    margin-bottom: $small-spacing;
    text-align: center;
  }

  h3 {
    margin-top: $huge-spacing;
  }

  img,
  video {
    display: block;
    margin: 0 auto 1em;
    max-width: 100%;
  }

  hr {
    border: none;
    border-bottom: $border;
    margin-bottom: $base-spacing;
  }
}

aside.meta {
  color: var(--deemphasized-text-color);
  margin-bottom: $large-spacing;
  text-align: center;

  a {
    color: var(--deemphasized-text-color);
  }
}

li.post-teaser {
  margin: 0 $base-spacing $huge-spacing;

  h2 {
    font-size: $large-font-size;
    margin-bottom: $small-spacing;
    text-align: left;
  }

  aside.meta {
    margin-bottom: $base-spacing;
    text-align: left;
  }

  span.external-site {
    margin-left: $small-spacing;
  }
}
