// Tomorrow
$white: #ffffff;
$black: #545454;
$gray: #929292;
$light-gray: #efefef;
$red: #c82829;
$orange: #f5871f;
$yellow: #eab700;
$green: #718c00;
$aqua: #3e999f;
$blue: #4271ae;
$purple: #8959a8;

// Tomorrow night
$night-black: #1d1f21;
$night-dark-gray: #282a2e;
$night-gray: #969896;
$night-white: #ffffff;
$night-red: #cc6666;
$night-orange: #de935f;
$night-yellow: #f0c674;
$night-green: #b5bd68;
$night-aqua: #8abeb7;
$night-blue: #81a2be;
$night-purple: #b294bb;
$night-brown: #a3685a;

:root {
  --background: #{$white};
  --text: #{$gray};
  --comment: #{$gray};
  --selection: #{$light-gray};
  --error: #{$red};
  --error-background: #{$white};
  --keyword: #{$purple};
  --literal: #{$orange};
  --name: #{$gray};
  --operator: #{$black};
  --punctuation: #{$gray};
  --comment-multiline: #{$gray};
  --comment-preproc: #{$gray};
  --comment-single: #{$gray};
  --comment-special: #{$gray};
  --deleted: #{$red};
  --heading: #{$black};
  --inserted: #{$green};
  --prompt: #{$green};
  --subheading: #{$aqua};
  --keyword-constant: #{$purple};
  --keyword-declaration: #{$purple};
  --keyword-namespace: #{$aqua};
  --keyword-pseudo: #{$blue};
  --keyword-reserved: #{$purple};
  --keyword-type: #{$yellow};
  --literal-date: #{$green};
  --literal-number: #{$orange};
  --literal-string: #{$green};
  --name-attribute: #{$blue};
  --name-builtin: #{$blue};
  --name-class: #{$yellow};
  --name-constant: #{$yellow};
  --name-decorator: #{$aqua};
  --name-entity: #{$black};
  --name-exception: #{$red};
  --name-function: #{$blue};
  --name-label: #{$black};
  --name-namespace: #{$yellow};
  --name-other: #{$blue};
  --name-property: #{$black};
  --name-tag: #{$aqua};
  --name-variable: #{$red};
  --operator-word: #{$aqua};
  --whitespace: #{$black};
  --literal-number-float: #{$orange};
  --literal-number-hex: #{$orange};
  --literal-number-integer: #{$orange};
  --literal-number-oct: #{$orange};
  --literal-string-backtick: #{$green};
  --literal-string-char: #{$black};
  --literal-string-doc: #{$gray};
  --literal-string-double: #{$green};
  --literal-string-escape: #{$orange};
  --literal-string-heredoc: #{$green};
  --literal-string-interpol: #{$orange};
  --literal-string-other: #{$green};
  --literal-string-regex: #{$green};
  --literal-string-single: #{$green};
  --literal-string-symbol: #{$green};
  --name-builtin-pseudo: #{$black};
  --name-variable-class: #{$red};
  --name-variable-global: #{$red};
  --name-variable-instance: #{$red};
  --literal-number-integer-long: #{$orange};

  @media (prefers-color-scheme: dark) {
    --background: #{$night-black};
    --text: #{$night-gray};
    --comment: #{$night-gray};
    --selection: #{$night-dark-gray};
    --error: #{$night-red};
    --error-background: #{$night-black};
    --keyword: #{$night-purple};
    --literal: #{$night-orange};
    --name: #{$night-gray};
    --operator: #{$night-white};
    --punctuation: #{$night-gray};
    --comment-multiline: #{$night-gray};
    --comment-preproc: #{$night-gray};
    --comment-single: #{$night-gray};
    --comment-special: #{$night-gray};
    --deleted: #{$night-red};
    --heading: #{$night-white};
    --inserted: #{$night-green};
    --prompt: #{$night-green};
    --subheading: #{$night-aqua};
    --keyword-constant: #{$night-purple};
    --keyword-declaration: #{$night-purple};
    --keyword-namespace: #{$night-aqua};
    --keyword-pseudo: #{$night-blue};
    --keyword-reserved: #{$night-purple};
    --keyword-type: #{$night-yellow};
    --literal-date: #{$night-green};
    --literal-number: #{$night-orange};
    --literal-string: #{$night-green};
    --name-attribute: #{$night-blue};
    --name-builtin: #{$night-blue};
    --name-class: #{$night-yellow};
    --name-constant: #{$night-yellow};
    --name-decorator: #{$night-aqua};
    --name-entity: #{$night-white};
    --name-exception: #{$night-red};
    --name-function: #{$night-blue};
    --name-label: #{$night-white};
    --name-namespace: #{$night-yellow};
    --name-other: #{$night-blue};
    --name-property: #{$night-white};
    --name-tag: #{$night-aqua};
    --name-variable: #{$night-red};
    --operator-word: #{$night-aqua};
    --whitespace: #{$night-white};
    --literal-number-float: #{$night-orange};
    --literal-number-hex: #{$night-orange};
    --literal-number-integer: #{$night-orange};
    --literal-number-oct: #{$night-orange};
    --literal-string-backtick: #{$night-green};
    --literal-string-char: #{$night-white};
    --literal-string-doc: #{$night-gray};
    --literal-string-double: #{$night-green};
    --literal-string-escape: #{$night-orange};
    --literal-string-heredoc: #{$night-green};
    --literal-string-interpol: #{$night-orange};
    --literal-string-other: #{$night-green};
    --literal-string-regex: #{$night-green};
    --literal-string-single: #{$night-green};
    --literal-string-symbol: #{$night-green};
    --name-builtin-pseudo: #{$night-white};
    --name-variable-class: #{$night-red};
    --name-variable-global: #{$night-red};
    --name-variable-instance: #{$night-red};
    --literal-number-integer-long: #{$night-orange};
  }
}

.highlight {
  color: var(--text);

  .hll {
    background-color: var(--selection);
  }
  .c {
    color: var(--comment);
  }
  .err {
    background: var(--error);
    color: var(--error-background);
  }
  .k {
    color: var(--keyword);
  }
  .l {
    color: var(--literal);
  }
  .n {
    color: var(--name);
  }
  .o {
    color: var(--operator);
  }
  .p {
    color: var(--punctuation);
  }
  .cm {
    color: var(--comment-multiline);
  }
  .cp {
    color: var(--comment-preproc);
  }
  .c1 {
    color: var(--comment-single);
  }
  .cs {
    color: var(--comment-special);
  }
  .gd {
    color: var(--deleted);
  }
  .ge {
    font-style: italic;
  }
  .gh {
    color: var(--heading);
    font-weight: bold;
  }
  .gi {
    color: var(--inserted);
  }
  .gp {
    color: var(--prompt);
    font-weight: bold;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: var(--subheading);
    font-weight: bold;
  }
  .kc {
    color: var(--keyword-constant);
  }
  .kd {
    color: var(--keyword-declaration);
  }
  .kn {
    color: var(--keyword-namespace);
  }
  .kp {
    color: var(--keyword-pseudo);
  }
  .kr {
    color: var(--keyword-reserved);
  }
  .kt {
    color: var(--keyword-type);
  }
  .ld {
    color: var(--literal-date);
  }
  .m {
    color: var(--literal-number);
  }
  .s {
    color: var(--literal-string);
  }
  .na {
    color: var(--name-attribute);
  }
  .nb {
    color: var(--name-builtin);
  }
  .nc {
    color: var(--name-class);
  }
  .no {
    color: var(--name-constant);
  }
  .nd {
    color: var(--name-decorator);
  }
  .ni {
    color: var(--name-entity);
  }
  .ne {
    color: var(--name-exception);
  }
  .nf {
    color: var(--name-function);
  }
  .nl {
    color: var(--name-label);
  }
  .nn {
    color: var(--name-namespace);
  }
  .nx {
    color: var(--name-other);
  }
  .py {
    color: var(--name-property);
  }
  .nt {
    color: var(--name-tag);
  }
  .nv {
    color: var(--name-variable);
  }
  .ow {
    color: var(--operator-word);
  }
  .w {
    color: var(--whitespace);
  }
  .mf {
    color: var(--literal-number-float);
  }
  .mh {
    color: var(--literal-number-hex);
  }
  .mi {
    color: var(--literal-number-integer);
  }
  .mo {
    color: var(--literal-number-oct);
  }
  .sb {
    color: var(--literal-string-backtick);
  }
  .sc {
    color: var(--literal-string-char);
  }
  .sd {
    color: var(--literal-string-doc);
  }
  .s2 {
    color: var(--literal-string-double);
  }
  .se {
    color: var(--literal-string-escape);
  }
  .sh {
    color: var(--literal-string-heredoc);
  }
  .si {
    color: var(--literal-string-interpol);
  }
  .sx {
    color: var(--literal-string-other);
  }
  .sr {
    color: var(--literal-string-regex);
  }
  .s1 {
    color: var(--literal-string-single);
  }
  .ss {
    color: var(--literal-string-symbol);
  }
  .bp {
    color: var(--name-builtin-pseudo);
  }
  .vc {
    color: var(--name-variable-class);
  }
  .vg {
    color: var(--name-variable-global);
  }
  .vi {
    color: var(--name-variable-instance);
  }
  .il {
    color: var(--literal-number-integer-long);
  }
}
