// Colors
$blue: #62b6e0;
$bias: 3;
$dark-gray: mix($blue, #3a3a3a, $bias);
$medium-gray: mix($blue, #717171, $bias);
$light-gray: mix($blue, #ededed, $bias);

$post-text-color: $dark-gray;

// Fonts
$post-font-family: $serif;
$mono: 'source-code-pro', $font-stack-monaco;

// Fonts Sizes
$small-font-size: 14px;
$large-font-size: 24px;

// Other
$max-width: 640px;
$line-height: 1.4;
