$portrait-width: 529px;

.about {
  video.portrait,
  img.portrait {
    display: block;
    margin: 0 auto golden-ratio($base-spacing, 1);
    max-width: 100%;
  }

  video.portrait {
    display: none;
  }

  div.copy {
    padding: $small-spacing;
  }

  article {
    margin: 0 auto;
    max-width: $portrait-width;
  }

  @include media($desktop) {
    video.portrait {
      border: $border;
      display: block;
    }
    img.portrait { display: none; }
  }
}
