body {
  @include flex-direction(column);
  background-color: $background-color;
  color: $body-text-color;
  display: flex;
  flex-direction: column;
  font: $body-font;
  line-height: $line-height;
  min-height: 100vh;
}

main {
  @include outer-container;
  flex: 1;
  width: 100%;

  @include media($desktop) {
    width: $max-width;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h4 {
  font: $small-header-font;
  letter-spacing: $letter-spacing-header;
  margin-bottom: golden-ratio($base-spacing, -1);
  text-transform: uppercase;
}

hr {
  border: 0;
  border-bottom: 1px solid $light-blue-gray;
  margin: $big-spacing auto;
  max-width: $padded-mobile-width;
}
