body {
  @include display(flex);
  @include flex-direction(column);
  background-color: $background-color;
  color: $medium-gray;
  font: $body-font;
  line-height: $line-height;
  min-height: 100vh;
}

main {
  @include flex(1);
  @include outer-container;
  width: 100%;

  @include media($desktop) {
    width: $max-width;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
