.copy {
  padding: $small-spacing;

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: $base-spacing;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: $base-spacing;
  }

  em {
    font-style: normal;
    font-size: $body-font-size - 2;
  }

  @include media($desktop) {
    padding: 0;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $light-blue-gray;
  margin: $big-spacing auto;
  width: golden-ratio(100%, -2);
}
