.copy {
  padding: $small-spacing;

  a {
    text-decoration: underline;

    &:hover {
      color: var(--link-hover-color);
    }
  }

  p {
    margin-bottom: $base-spacing;
  }

  em {
    font-style: normal;
    font-size: $body-font-size - 2;
  }

  @media screen and (min-width: $max-width) {
    padding: 0;
  }
}
