body {
  background-color: var(--background-color);
  color: var(--deemphasized-text-color);
  font: $body-font;
  line-height: $line-height;
}

a {
  color: inherit;
  transition: color 0.1s ease;

  &:hover {
    transition: color 0.3s ease;
  }
}

h4 {
  font: $small-header-font;
  letter-spacing: $letter-spacing-header;
  margin-bottom: math.div($base-spacing, $modular-scale-1);
  text-transform: uppercase;
}

hr {
  border: 0;
  border-bottom: 1px solid var(--border-color);
  margin: $big-spacing auto;
  max-width: $padded-mobile-width;
}
