header.experiments {
  margin-top: $base-spacing;

  h2 {
    font: $header-font;
    letter-spacing: $letter-spacing-header;
    margin-bottom: $base-spacing;
  }

  p {
    margin-bottom: $base-spacing;
  }
}

ul.experiments {
  background-color: white;
  border: $border;
  margin-top: $base-spacing;

  li {
    background-position: modular-scale(-1, $base-spacing) center;
    background-repeat: no-repeat;
    margin-bottom: modular-scale(-1, $base-spacing);

    &:hover {
      background-color: $light-gray;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &.file {
      background-image: url('~images/file.svg');
    }

    &.directory {
      background-image: url('~images/directory.svg');
    }

    a {
      display: block;
      padding: modular-scale(-2, $base-spacing)
               $base-spacing
               modular-scale(-2, $base-spacing)
               modular-scale(1, $base-spacing);
    }
  }
}
