.featured-projects {
  @include outer-container;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-container {
  @include title-card;

  border-left: 0;
  border-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: $featured-project-height;

  div.img, img {
    margin: auto;
  }

  h3 {
    @include header-link-style;
    padding-top: $small-spacing;

    a {
      display: block;
    }
  }

  .link-target {
    @include block-link;
  }
}

section.project {
  margin-bottom: $huge-spacing;
}

@include media($desktop) {
  .featured-projects {
    flex-direction: row;
  }

  .project-container {
    border-left: $border;
    border-right: $border;
    flex: 0 0 flex-grid(4);
    margin-bottom: 0;
    margin-right: flex-gutter();
  }
}
