.featured {
  @include outer-container;
}

.project-container {
  @include featured-with-logo;
  @include title-card;
  @include display(flex);
  flex-direction: column;

  @include media($desktop) {
    @include span-columns(4);
    @include display(flex);
    margin-bottom: 0;
  }

  img {
    margin: auto;
  }

  h3 {
    @include header-link-style;
    margin-top: $base-spacing;

    a {
      @include header-link-style;
    }
  }

  .link-target {
    @include block-link;
  }
}
