.featured {
  @include outer-container;
}

.project-container {
  @include display(flex);
  background-color: $white;
  border: $border;
  cursor: pointer;
  flex-direction: column;
  min-height: 260px;
  padding: $small-spacing 1ex;
  margin-bottom: $base-spacing;

  @include media($desktop) {
    @include span-columns(4);
    @include display(flex);
    margin-bottom: 0;
  }

  img {
    margin: auto;
  }

  h3 {
    margin-top: $base-spacing;
    text-align: center;

    a {
      @include header-link-style;
    }
  }
}
