footer {
  background-color: $dark-gray;
  color: $medium-light-gray;
  font: $footer-font;
  padding: $base-spacing;
  text-align: center;

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    text-decoration: underline;
  }
}
