footer {
  background-color: var(--background-color-footer);
  color: var(--text-color-footer);
  font: $footer-font;
  padding: $base-spacing;
  text-align: center;

  a {
    color: inherit;
  }

  a:hover {
    color: inherit;
    text-decoration: underline;
  }
}
