hr.hotline-webring {
  margin-bottom: 0;
}

section.hotline-webring {
  margin: 0 auto;
  width: $padded-mobile-width;

  div.links {
    display: flex;
    margin: 0 auto;
  }

  h3 {
    align-self: center;
    flex: 2 0 auto;
    margin: 0;
    order: 2;
  }

  a.navigate {
    @include hide-text;
    background: transparent none no-repeat;
    background-position-y: center;
    flex: 1 0 20%;
    height: 100%;
    padding: $big-spacing 0;
  }

  a.previous {
    background-image: url("hlwr-prev.svg");
    background-position: center left;
    order: 1;
  }

  a.next {
    background-image: url("hlwr-next.svg");
    background-position: center right;
    order: 3;
  }
}
