body.ie {
  header {
    background: url(asset-path('logo.gif')) no-repeat center;
  }

  header h1 {
    display: none;
  }
}

body.ie.v11,
body.ie.v10 {
  height: 1vh;

  main, header {
    flex: 1 0 auto;
  }

  div.img {
    position: relative;
    min-height: 174px;
  }

  img {
    @include position(absolute, 0 0 0 0);
    margin: auto;
  }
}
