.links {
  margin: math.div($base-spacing, $modular-scale-1);
  text-align: center;

  h3 {
    margin: $big-spacing 0;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: $base-spacing;
  }
}
