.links {
  margin: modular-scale(-1, $base-spacing);
  text-align: center;

  h4 {
    margin: $big-spacing 0;
  }

  ol {
    list-style-type: none;
  }

  li {
    margin-bottom: $base-spacing;
  }
}
