$logo-height: 160px;
$logo-width: 200px;
$planet-size: 6px;
$rotation-period: 10s;
/* prettier-ignore */
$orbit-values: (1, 4, 0.68, 58.4%, 105.2%),
(2, 8, 0.03, 87.8%, 89.3%),
(3, 12, 0.23, 47.2%, 106.3%),
(4, 5, 0.36, 40.2%, 105.2%),
(5, 6, 0.72, 17.8%, 94.6%),
(6, 12, 0.17, 13.6%, 91.4%),
(7, 5, 0.56, -0.4%, 73.3%),
(8, 6, 0.5, -14.4%, 41.4%),
(9, 12, 0.34, 8%, 85%),
(10, 9, 0.82, 36%, 104.1%),
(11, 6, 0.22, 96.2%, 79.7%),
(12, 12, 0.01, 101.8%, 71.2%),
(13, 6, 0.8, 3.8%, 80.8%),
(14, 10, 0.34, 108.8%, 56.3%),
(15, 8, 0.06, 99%, 75.4%),
(16, 8, 0.5, -0.4%, 74.4%),
(17, 11, 0.96, 90.6%, 87.1%),
(18, 7, 0.08, -4.6%, 66.9%),
(19, 5, 0.32, 71%, 102%),
(20, 8, 0.97, 22%, 97.8%);

header.main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: $logo-height * $modular-scale-1;
  justify-content: center;
  margin: $base-spacing * $modular-scale-1 0;
  overflow: hidden;
}

h1 {
  display: inline-block;
  font-size: 0;
  height: $logo-height;
  position: relative;
  width: $logo-width;

  > a {
    @include block-link;
    align-items: center;
    color: var(--logo-color);
    display: flex;
    justify-content: center;
    z-index: 0;
  }
}

div.orbit {
  pointer-events: none;
  transform: translateX(0%);
  z-index: 0;

  @each $i, $size, $delay, $top-offset, $orbit-diameter in $orbit-values {
    &.orbit-#{$i} {
      $delay: $rotation-period * -$delay;
      $orbit-diameter-px: $logo-width * math.div($orbit-diameter, 100%);

      animation: $rotation-period ease-in-out $delay infinite orbitPosition,
        $rotation-period step-end $delay infinite orbitDepth;
      position: absolute;
      top: $top-offset;
      left: math.div(($logo-width - $orbit-diameter-px), 2);
      width: $orbit-diameter;

      &:after {
        height: $size * 1px;
        width: $size * 1px;
      }
    }
  }
}

div.orbit:after {
  background-color: var(--accent-color);
  border-radius: 50%;
  content: "";
  display: block;
}

@keyframes orbitPosition {
  50% {
    transform: translateX(100%);
  }
}

@keyframes orbitDepth {
  50% {
    z-index: -1;
  }
}
