@mixin header-link-style {
  color: $header-text-color;
  display: block;
  font: $header-font;
  letter-spacing: $letter-spacing-header;
  text-align: center;
  text-transform: uppercase;
}

@mixin block-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@mixin title-card {
  background-color: $white;
  border: $border;
  margin-bottom: $base-spacing;
  padding: $small-spacing 1ex;
  position: relative;
}
