@mixin header-link-style {
  color: $header-text-color;
  font: $header-font;
  letter-spacing: $letter-spacing-header;
  text-transform: uppercase;
}

@mixin block-link {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
