nav.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: modular-scale(1, $base-spacing);
  text-align: center;

  a {
    @include header-link-style;
    flex-grow: 0;
    padding: $base-spacing;
  }

  @include grid-media($desktop) {
    flex-direction: row;

    a.active:after {
      @include size(27px, 10px);
      background: url("~images/chevron.svg") no-repeat center;
      content: '';
      display: block;
      margin-top: modular-scale(1, $base-spacing);
      width: 100%;
    }
  }
}
