nav.pagination {
  font-style: normal;
  margin: $base-spacing;
  text-align: center;

  a {
    color: $accent-color;
    flex-grow: 1;

    &:hover {
      color: $dark-gray;
    }
  }

  a.previous {
    margin-right: $base-spacing;
  }
}
