nav.pagination {
  font-style: normal;
  margin: $base-spacing;
  text-align: center;

  a {
    color: var(--accent-color);
    flex-grow: 1;

    &:hover {
      color: var(--text-color);
    }
  }

  a.previous {
    margin-right: $base-spacing;
  }
}
