section.project {
  align-items: stretch;
  justify-content: stretch;
  display: flex;
  flex-direction: column;

  div.info {
    display: flex;
    flex-flow: column nowrap;
  }

  .role,
  .website,
  .description {
    margin-bottom: $large-spacing;
  }

  .role p {
    margin: 0;
  }

  .description {
    margin-bottom: 0;
  }

  .description p {
    text-align: left;
  }

  @include grid-media($desktop) {
    align-items: flex-start;
    flex-direction: row;

    div.info {
      flex-flow: row wrap;
    }

    .project-container {
      flex-basis: $project-width;
      flex-grow: 0;
      flex-shrink: 0;
    }

    .role,
    .website {
      flex: 1 1 10%;
    }

    .description {
      flex-basis: 100%;
    }

    .role,
    .website,
    .description {
      margin-bottom: $large-spacing;
    }
  }
}
