section.song {
  display: flex;
  flex-direction: column;
  margin-bottom: $huge-spacing;
}

div.song-title {
  @include title-card;
  text-align: center;
  padding: $small-spacing;

  h3 {
    @include header-link-style;
  }
}

div.player {
  @include title-card;

  padding: $song-padding;

  div.scrubber {
    padding-left: math.div($song-height, 2);
    position: relative;
  }

  div.track,
  div.progress {
    height: $song-height;
    border-bottom-right-radius: math.div($song-height, 2);
    border-top-right-radius: math.div($song-height, 2);
  }

  div.track {
    background-color: var(--background-color-alt);
  }

  div.progress {
    background-color: var(--background-color-contrast);
  }

  a.button {
    background: var(--button-color) url("~images/play.svg") no-repeat center
      center;
    border: 2px solid var(--song-progress-color);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: $song-height;
    position: absolute;
    width: $song-height;
    z-index: 1;
  }

  a.button.playing {
    background-image: url("~images/pause.svg");
  }

  span.remaining {
    bottom: 0;
    box-sizing: border-box;
    font-family: $ui-font-family;
    font-feature-settings: "tnum";
    font-size: $medium-font-size;
    font-style: normal;
    left: 0px;
    padding-right: $medium-font-size * 0.8;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: $medium-font-size * 0.7;
    width: 100%;
    z-index: 1;
  }
}

@media screen and (min-width: $max-width) {
  section.song {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div.song-title {
    box-sizing: border-box;
    flex-basis: $project-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $gutter;
    order: 1;
  }

  div.player {
    flex-basis: 100%;
    order: 3;
  }

  article.description {
    flex-basis: 0;
    flex-grow: 1;
    order: 2;
  }
}
