section.song {
  display: flex;
  flex-direction: column;
  margin-bottom: $huge-spacing;
}

div.song-title {
  @include title-card;
  text-align: center;
  padding: $small-spacing;

  h3 {
    @include header-link-style;
  }
}

div.player {
  border: $border;
  margin-bottom: $base-spacing;
  padding: $base-spacing;

  audio {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: $max-width) {
  section.song {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div.song-title {
    box-sizing: border-box;
    flex-basis: $project-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $gutter;
    order: 1;
  }

  div.player {
    flex-basis: 100%;
    order: 3;
  }

  article.description {
    flex-basis: 0;
    flex-grow: 1;
    order: 2;
  }
}
