// Colors
$white: #fff;
$light-blue-gray: #e8ebed;
$light-gray: #fdfdfd;
$medium-light-gray: #ededed;
$medium-gray: #afafaf;
$dark-gray: #3c3e42;
$red: #e95555;

$accent-color: $red;
$body-text-color: $medium-gray;
$header-text-color: $dark-gray;
$background-color: $light-gray;
$secondary-background-color: $light-gray;
$background-color-ui: $white;
$border-color: $medium-light-gray;

// Fonts
$sans-serif: 'proxima-nova', $font-stack-helvetica;
$serif: 'garamond-premier-pro-caption', $font-stack-georgia;

$body-font-family: $serif;
$header-font-family: $sans-serif;
$footer-font-family: $sans-serif;
$ui-font-family: $sans-serif;

// Font Sizes
$base-font-size: 20px;
$small-font-size: 12px;
$medium-font-size: 18px;
$large-font-size: 24px;

$header-font-size: $medium-font-size;
$small-header-font-size: $small-font-size;
$body-font-size: $base-font-size;
$forms-font-size: $base-font-size;
$footer-font-size: $medium-font-size;
$ui-font-size: $medium-font-size;
$letter-spacing-header: 2px;

// Font Presets
$header-font: 700 $header-font-size $header-font-family;
$small-header-font: 600 $small-header-font-size $header-font-family;
$body-font: italic 400 $body-font-size $body-font-family;
$footer-font: 400 $footer-font-size $footer-font-family;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($accent-color, $lightness: -5%, $alpha: -0.3);

// Other
$border: 1px solid $border-color;
$border-radius: 3px;
$base-spacing: 24px;
$large-spacing: $base-spacing * 2;
$huge-spacing: $base-spacing * 4;
$small-spacing: golden-ratio($base-spacing, -1);
$big-spacing: $base-spacing * 2.5;
$line-height: 1.3;
$header-line-height: 1.2;
$duration: 0.2s;
$timing: ease;
$song-height: 44px;
$song-padding: $base-spacing;
$featured-project-height: 260px;
$mobile-width: 320px;
$padded-mobile-width: $mobile-width - ($base-spacing * 2);
