<hr>
<section class="contact links">
  <h4>Contact</h4>
  <ul>
    <li><%= link_to 'Blog', 'http://blog.edwardloveall.com', target: '_blank' %></li>
    <li><%= link_to 'Twitter', 'https://twitter.com/edwardloveall', target: '_blank' %></li>
    <li><%= mail_to 'edward@edwardloveall.com', 'Email', target: '_blank' %></li>
  </ul>
</section>
