<hr>
<section class="contact links">
  <h4>Contact</h4>
  <ul>
    <li><%= link_to 'Blog', root_url(subdomain: 'blog'), rel: 'external me' %></li>
    <li><%= link_to 'Mastodon', 'https://mastodon.technology/@edwardloveall', rel: 'external me' %></li>
    <li><%= mail_to 'edward@edwardloveall.com', 'Email', rel: 'author external' %></li>
  </ul>
</section>
