<hr class="hotline-webring">
<section class="hotline-webring links">
  <div class="links">
    <a href="https://hotlinewebring.club/edward/previous" class="previous navigate">Previous</a>
    <h3>Hotline Webring</h3>
    <a href="https://hotlinewebring.club/edward/next" class="next navigate">Next</a>
  </div>
</section>
