<nav>
  <% if current_user %>
    <%= link_to 'Projects', admin_projects_path %>
    <%= link_to 'Songs', admin_songs_path %>
    <%= link_to 'Sign Out', admin_session_path, method: :delete %>
  <% end %>
</nav>
