<%= render 'header' %>

<div class="microblog-description copy">
  <article>
    <p>Hello! I'm Edward Loveall, author of <a href="http://domainnamesanitybook.com">Domain Name Sanity</a> and CFO of <a href="https://hotlinewebring.club">Hotline Webring</a>. You can check out my main website here: <%= link_to 'edwardloveall.com', root_url %></p>
    <p>This is my microblog. It's like a personal Twitter. It was inspired largely by <a href="http://www.manton.org/2016/11/todays-social-networks-are-broken.html">Manton Reece's ideas</a> of owning your own content.</p>
  </article>
</div>
